<aside>
    <div [ngClass]="{'header-open': hide, 'header': !hide}">
        <button (click)="onHideNavbar()"><i class="bi bi-list"></i></button>
    </div>
    <div class="sidebar">
        <ul>
            <a href="/dashboard/students"><li><span *ngIf="hide">Students&nbsp;</span><i class="bi bi-person-lines-fill" matTooltip="Students"></i></li></a>
            <a href="/dashboard/courses"><li><span *ngIf="hide">Courses&nbsp;</span><i class="bi bi-cart-fill" matTooltip="Courses"></i></a>
            <a href="/dashboard/benefits"><li><span *ngIf="hide">Benefits&nbsp;</span><i class="bi bi-piggy-bank-fill" matTooltip="Benefits"></i></a>
            <a href="https://www.linkedin.com/in/franciscoviola/" target="_blank"><li><span *ngIf="hide">My Profile&nbsp;</span><i class="bi bi-linkedin" id="listIcon" matTooltip="LinkedIn"></i></li></a>
        </ul>
      </div>
</aside> 