.courses-container {
    height: var(--central-container-height);
    width: var(--central-container-width);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.add-course {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 1px 5px;
}

.mat-mdc-raised-button:not(:disabled) {
    background: var(--primary-color);
    color: whitesmoke;
}