<div class="list-section">
    <mat-card *ngFor="let c of dataSource">
        <mat-card-header style="justify-content: center; align-items: center; display: flex;">
            <mat-card-title><h1>{{c.name}}</h1></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus pariatur a dolor perferendis mollitia eaque molestiae. Expedita, magni quasi ipsam, sit ex laborum at deleniti unde, eveniet soluta temporibus! Illum odit enim vero vel accusamus, praesentium explicabo itaque placeat non.</span>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button >Show me more</button>
        </mat-card-actions>
    </mat-card>
</div>